h1, h2 {
    font-family: 'Bungee Outline', cursive;
    text-align:center;
    color: rainbow;
}

body {
    background-image: 
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.animals img {
    width: 30vw;
    border-radius: 30%;
    padding: 10px;
    cursor: pointer;
}

.clicked:active {
transform: scale(1.25);
}

/*.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
  }
*/
