h1, h2 {
    font-family: 'Mulish', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.animals img {
    width: 30vw;
    border-radius: 30%;
    padding: 10px;
    cursor: pointer;
}

